@import '../../../styles/variables.scss';

:root {
  --main-border-radius: 3px;
  --input-button-width: 70%;
}

.login {
  position: relative;

  .wrapper {
    @include flexJustifyCenter;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .login-box {
    @include flexDirectionColumn;
    width: 100%;
    height: 400px;
    border: 1px solid lightgray;
  }

  .logo {
    width: 380px;
    height: 60px;
    margin: 20px 0px 50px;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    text-align: center;
  }

  #loginForm {
    @include flexAlignCenter;
    flex-direction: column;
    height: 150px;
  }

  input {
    width: var(--input-button-width);
    height: 40px;
    padding-left: 10px;
    margin-bottom: 5px;
    background-color: #fafafa;
    border: 1px solid lightgray;
    border-radius: var(--main-border-radius);
    font-size: 0.8rem;
  }

  #loginLink {
    width: 100%;
    position: relative;
    left: 57px;
  }

  #loginBtn {
    width: var(--input-button-width);
    height: 30px;
    margin: 5px 0px 5px;
    color: white;
    border: 1px;
    background-color: #0095f6;
    border-radius: var(--main-border-radius);
    font-weight: bold;
    text-align: center;
  }

  #loginBtn:hover {
    cursor: pointer;
  }

  #loginBtn:disabled {
    cursor: default;
    background-color: #c0dffd;
  }

  .whenLostPw {
    @include flexJustifyCenter;
    align-items: flex-end;
    height: 80px;
    padding-bottom: 20px;
  }

  a {
    color: #385085;
    font-size: 0.8rem;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }
}
