$box-border: #e6e6e6;
$logo: #262626;
$font-inbox: #ffffff;
$background: #fafafa;
$activation: #0095f6;

.login {
  margin-top: 120px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 400px;
    margin: auto;
    border: 1px solid $box-border;
  }

  .westagram {
    margin: 20px;
    color: $logo;
    font-size: 50px;
  }

  .inputWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 30px 40px 100px 40px;

    .inputInfo {
      padding: 7px;
      width: 100%;
      margin-bottom: 5px;
      color: black;
      border: 1px solid $box-border;
      background-color: $background;
      outline: none;

      &.colorRed {
        color: red;
      }
    }

    .loginBtn {
      padding: 5px;
      width: 100%;
      margin-top: 5px;
      border: 1px solid $activation;
      color: $font-inbox;
      background-color: $activation;

      &.disabled,
      &:disabled {
        opacity: 0.4;
      }

      &.activate {
        opacity: 1;
      }
    }
  }

  #forgotPw {
    font-size: 12px;
    text-decoration: none;
  }
}
