@charset "utf-8";
$border-color: rgb(219, 219, 219);
$border-sytle: 1.5px solid $border-color;
$bg-color: #fafafa;

@mixin position-default {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-space {
  display: flex;
  justify-content: space-between;
}

body {
  background-color: $bg-color;
  color: #454545;
}

/* main-feed */
#feed {
  width: 37%;
  margin: 100px 0;
  background-color: #fff;
  border: $border-sytle;
  position: relative;
  top: 0px;
  left: 18%;

  .inner-top {
    width: 100%;
    height: 60px;
    @include flex-space;
    background-color: #fff;

    .profile {
      width: 32%;

      a {
        display: block;

        img {
          width: 40px;
          height: 40px;
          margin-top: 10px;
          margin-left: 20px;
          border-radius: 50%;
        }

        p {
          float: right;
          line-height: 60px;
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
    }

    .more {
      width: 5%;
      margin-top: 20px;
      margin-right: 10px;

      img {
        width: 20px;
      }
    }
  }
}

#feed {
  .inner-feed {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

#feed {
  .inner-bottom {
    background-color: #fff;
    padding: 10px;

    .inner-menu {
      width: 100%;
      @include flex-space;

      .left-img {
        a {
          display: inline-block;

          img {
            width: 20px;
            opacity: 0.8;
          }
        }

        a ~ a {
          margin-left: 10px;
        }
      }
    }

    .whoLikes {
      margin-top: 15px;
      font-size: 0.9rem;

      img {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}

#feed {
  .inner-bottom {
    .inner-text {
      width: 100%;
      font-size: 0.875rem;
      margin-bottom: 20px;
      position: relative;

      p {
        line-height: 2;
      }

      .top-wrap {
        width: 100%;
        display: flex;
        border: 0;
      }

      .bottom-wrap {
        width: 100%;
        display: flex;
      }

      .msg {
        text-indent: 5px;
      }

      .moreTxt {
        text-indent: 10px;
        font-size: 0.9rem;
        color: rgb(171, 173, 176);
        @include position-default;
        top: 8px;
        left: 168px;
      }

      .heartTag {
        width: 5%;
        text-align: center;
        position: absolute;
        top: 30px;
        right: 3px;
      }

      .time {
        display: block;
        color: rgb(171, 173, 176);
        font-size: 0.9rem;
        margin-bottom: 20px;
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 0.5px;
        background-color: $border-color;
        position: absolute;
        bottom: -15px;
        left: 0;
      }

      .new {
        width: 100%;
        display: flex;
      }
    }
  }
}

/* 댓글창 */

.chatFrm {
  .chatBox {
    width: 90%;
    border: 0;
    outline: 0;
    margin-bottom: 15px;

    &::placeholder {
      color: rgb(171, 173, 176);
    }
  }

  .uploadBtn {
    width: 9%;
    text-align: right;
    border: 0;
    background: none;
    color: #0095f6;
    opacity: 0.4;
    cursor: pointer;
  }
}

aside {
  width: 23%;
  position: fixed;
  top: 100px;
  right: 20%;

  img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .user_profile {
    height: 60px;

    img {
      float: left;
      margin-right: 12px;
    }

    p {
      display: block;
      float: left;
      font-size: 0.9rem;
      color: rgb(171, 173, 176);
    }

    .title {
      color: #454545;
      margin-top: 20px;
      font-weight: bold;
      font-size: 0.875rem;
    }
  }
  h4 {
    color: rgb(171, 173, 176);
    font-weight: normal;
    font-size: 0.9rem;
    float: left;
    margin-bottom: 5px;
  }

  .all {
    float: right;
    font-size: 0.9rem;
  }
  /* story-box */
  .story {
    height: 180px;
    overflow: hidden;
    padding: 10px;
    font-size: 0.9rem;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 3px;

    .story-box {
      display: flex;
      margin-bottom: 10px;
      position: relative;

      .go-story {
        width: 20%;

        &::before {
          content: '';
          display: block;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          border: 1.5px solid transparent;
          background-image: linear-gradient(#fff, #f1f1f1),
            linear-gradient(#fdf497, #fdf497, #fd5949, #d6249f, #285aeb);
          background-origin: border-box;
          background-clip: content-box, border-box;
          position: absolute;
          top: 0;
        }

        &::before {
          content: '';
          display: block;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #fff;
          position: absolute;
        }

        img {
          display: inline-block;
          width: 36px;
          height: 36px;
          position: relative;
          top: 4px;
          left: 4px;
        }
      }
      .user-name {
        padding-top: 5px;
        font-size: 0.875rem;
      }
      .time-stamp {
        display: block;
        width: 75%;
        color: rgb(171, 173, 176);
        font-size: 0.875rem;
        position: absolute;
        left: 25%;
        bottom: -20%;
      }
    }
  }
  /* recom-box */
  .recom {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 0.9rem;
    .recom-title {
      margin-bottom: 5px;
    }
    .recom-box {
      display: flex;
      position: relative;
      margin-bottom: 5px;

      .pro-img {
        width: 20%;
        text-align: center;
        margin-top: 6px;
      }
      .follow-wrap {
        padding-left: 10px;
        .user-name {
          display: block;
          padding-top: 6px;
        }
        .follower {
          width: 180px;
          color: rgb(171, 173, 176);
          font-size: 0.875rem;
          margin-top: 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      .follow {
        display: block;
        width: 90px;
        text-align: right;
        line-height: 22px;
        color: #0095f6;
        font-weight: bold;
      }
    }
    &::after {
      clear: both;
    }
  }
}

.foot-box {
  width: 300px;
  color: rgb(171, 173, 176);
  font-size: 0.75rem;
  margin-top: 5px;
  .foot-nav {
    a {
      font-size: 0.875rem;
      color: rgb(171, 173, 176);
    }
  }
  .copy {
    margin-top: 10px;
    font-size: 0.75rem;
  }
}
